<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon color="success" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/searchrescuerapp']">
        <ion-icon name="locate-outline"></ion-icon> 
      </ion-button>
      <ion-button [routerLink]="['/attributes']">
        <ion-icon name="finger-print"></ion-icon> 
      </ion-button>
      <ion-button [routerLink]="['/transactionlist']">
        <ion-icon name="call-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let post of posts;let i=index;">
    <ion-card-header>
      <div class="fullheadersection">
        <div class="headerSection">
          <div class="headerLeftSection">
            <ion-avatar>
              <img src="{{post.postRescuer.vImage}}">
            </ion-avatar>
          </div>
          <div class="headerRightSection">
            <div>{{post.postRescuer.vName}}</div>
            <div>{{post.createdDate| date}}</div>
          </div>
        </div>
        <div class="iconsec">
          <div class="eachsectionicon">{{post.postLikes}} 
            <ion-icon name="heart" *ngIf="post.clicked"></ion-icon> 
            <ion-icon name="heart-outline" *ngIf="!post.clicked" (click)="updatelike(post,i);"></ion-icon>
          </div>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <img src="{{post.postImage}}"/>
    </ion-card-content>
  </ion-card>
</ion-content>








