ion-button{
    font-size: 20px;
}

ion-card{
    background-color: #d1dccc;
}

.iconsec{
    width: 20%;
    height: 50px;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

.eachsectionicon{
    text-align: center;
    padding: 1% 0px;
    zoom: 1.5;
    font-size: 16px;
}

.fullheadersection{
    display: flex;
}

.headerSection{
    display: flex;
    width: 80%;
}

.headerRightSection{
    font-size: 21px;
    margin-left: 20px;
    font-family: monospace;
    font-weight: 700;
}