<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hospital Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullcontent">
    <div class="img">
      <img src="{{data.hospitalImage}}" width="300" height="300" class="imgClass"/>
    </div>
    <div class="info">
      <div class="infodetail">
        <h5>Name: </h5>
        <p>{{data.hospitalName}}</p>
      </div>
      <div class="infodetail">
        <h5>Ph. Number: </h5>
        <p>{{data.hospitalContact}}</p>
      </div>
      <div class="infodetail">
        <h5>Email Id: </h5>
        <p>{{data.hospitalEmail}}</p>
      </div>
      <div class="infodetail">
        <h5>Address: </h5>
        <p>{{data.hospitalAddress}}</p>
      </div>
    </div>
  </div>
</ion-content>