<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search Rescuser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map">
    <capacitor-google-map id="map"></capacitor-google-map>
  </div>
  <div class="rescuerdetail" *ngIf="detailview">
    <h5>Rescuer Details</h5>
    <div class="container">
      <div class="rescuserImg">
        <img [src]="rescuerImage">
      </div>
      <div class="otherdetail">
        <h3>{{rescuserName}}</h3>
        <h4>Distance: {{rescuserDistance}}</h4>
        <ion-button class="btnclass" (click)="presentAlertConfirm()">Confirm?</ion-button>
      </div>
    </div>
  </div>

  <div class="rescuerdetail">
    <h5>Rescuer Details</h5>
    <div class="container" *ngFor="let rescuser of rescuserlist;">
      <div class="rescuserImg">
        <img [src]="rescuser.rescuerImage">
      </div>
      <div class="otherdetail">
        <h3>{{rescuser.rescuerName}}</h3>
        <h4>Distance: {{rescuser.distance}}</h4>
        <ion-button class="btnclass" (click)="presentAlertConfirm()">Confirm?</ion-button>
      </div>
    </div>
  </div>
</ion-content>
