<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="solid" (click)="navigatetohome();">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullcontent">
    <div class="eachseg" *ngFor="let event of alleventsdata;let i=index;" (click)="opendetail(event.id);">
      <div class="custinfo">
        <h3> {{event.eventName}}</h3>
      </div>
    </div>
  </div>
</ion-content>

