<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Snake Details</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullcontent">
    <div class="img">
      <img src="{{data.image}}" width="300" height="300" class="imgClass"/>
    </div>
    <div class="info">
      <div class="infodetail">
        <h5>Name : </h5>
        <p>{{data.name}}</p>
      </div>
      <div class="infodetail">
        <h5>Snake Type : </h5>
        <p>{{data.type}}</p>
      </div>
      <div class="infodetail">
        <h5>Snake Color : </h5>
        <p>{{data.color}}</p>
      </div>
      <div class="infodetail">
        <h5>Snake Headshape : </h5>
        <p>{{data.headshpae}}</p>
      </div>
    </div>
  </div>
</ion-content>

