<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>wild life Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullcontent">
    <div class="img">
      <img src="{{data.wildlifeImage}}" width="300" height="300" class="imgClass"/>
    </div>
    <div class="info">
      <div class="infodetail">
        <h5>Name : </h5>
        <p>{{data.wildlifeName}}</p>
      </div>
      <div class="infodetail">
        <h5>Snake Type : </h5>
        <p>{{data.wildlifeContact}}</p>
      </div>
      <div class="infodetail">
        <h5>Snake Type : </h5>
        <p>{{data.wildlifeEmail}}</p>
      </div>
      <div class="infodetail">
        <h5>Snake Type : </h5>
        <p>{{data.wildlifeAddress}}</p>
      </div>
    </div>
  </div>
</ion-content>
