.fullcontent{
    padding: 2rem;
}

.imgClass{
    border-radius: 50%;
}

.info{
    background:#a1ed73;
    box-shadow: 5px 10px #afa7a7;
    padding: 3px 20px;
    margin-top: 25px;
}

.infodetail{
    display: flex;
}

h5{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

p{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 3px;
}