<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ACHIEVEMENT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imageRescuser">
    <img src="http://localhost/snake/api/uploads/user/user_pic.jpg">
  </div>
  <div class="points">
    <div class="block">
      <div class="title">Points</div>
      <div class="count">{{data.rescuerPoints}}</div>
    </div>
    <div class="block">
      <div class="title">Rank</div>
      <div class="count">{{data.ranking}}</div>
    </div>
  </div>
  <div class="points">
    <!-- <div class="block">
      <div class="title">No.Of Snake</div>
      <div class="count">30</div>
    </div> -->
    <div class="block">
      <div class="title">No.Of Calls</div>
      <div class="count">{{data.no_of_snakes}}</div>
    </div>
  </div>
</ion-content>
