<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hospital</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullcontent">
    <div class="eachseg" *ngFor="let hospital of allhospitaldata;let i=index;" (click)="opendetail(hospital.id);">
      <div class="custinfo">
        <h4>Name: {{hospital.hospitalName}}</h4>
        <h4>Phone: {{hospital.hospitalContact}}</h4>
      </div>
    </div>
  </div>
</ion-content>

