<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="eachblock">
    <div class="title">Post Image</div>
    <div class="inputfeild">
      <ion-button expand="full" onclick="document.querySelector('#uploader').click()">Upload</ion-button>
      <input type="file" id="uploader" [(ngModel)]="image" (change)="selectedFile($event)" hidden>
      <div class="imgclass">
        <ion-img width="80" height="80" [src]="finalImagePath"></ion-img>
      </div>
    </div>
  </div>
  <div class="lastbutton">
    <ion-button class="btnclass" (click)="submitpost()">Submit</ion-button>
  </div>
</ion-content>