<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="solid" (click)="navigatetohome();">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="eachblock">
    <div class="title">Post Image</div>
    <div class="inputfeild">
      <ion-button expand="full" onclick="document.querySelector('#uploader').click()">Upload</ion-button>
      <input type="file" id="uploader" accept="image/*" [(ngModel)]="image" (change)="selectedFile($event)" hidden>
      <div class="lastbutton">
        <ion-button class="btnclass" (click)="submitpost()">Submit</ion-button>
      </div>
      <div class="imgclass" *ngIf="onceUploaded">
        <ion-img width="80" height="80" [src]="finalImagePath"></ion-img><br>
      </div>
    </div>
  </div>
  
</ion-content>