<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transcation - {{transdata.tranid}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="centerbutton">
    <div class="progress">
      <div class="stepscount">
        <ion-label>Created</ion-label>
        <ion-label>Updated</ion-label>
        <ion-label>Completed</ion-label>
      </div>
      <ion-progress-bar [value]="progresscount"></ion-progress-bar>
    </div>
    <div class="step1" *ngIf="step>=1">
      <div class="basicInfo">
        <div class="heading">Basic Info</div>
        <div class="eachbasicblock">
          <div class="infoblock">
            <div class="infotitle">Initator:</div>
            <div class="infoinput">{{transdata.transUserId.vName}}</div>
          </div>
          <div class="infoblock">
            <div class="infotitle">Catcher:</div>
            <div class="infoinput">{{transdata.transRescuerId.vName}}</div>
          </div>
        </div>
        <div class="eachbasicblock">
          <div class="infoblock">
            <div class="infotitle">When:</div>
            <div class="infoinput">{{transdata.createdDate | date}}</div>
          </div>
          <div class="infoblock">
            <div class="infotitle">At:</div>
            <div class="infoinput">{{transdata.createdDate | date:'shortTime'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="step2" *ngIf="step>=2">
      <div class="snakeInfo">
        <div class="heading">Snake Info</div>
        <div class="eachbasicblock">
          <div class="infoblock">
            <div class="infotitle">Name:</div>
            <div class="infoinput">{{transdata.transSnakeId.vName}}</div>
          </div>
        </div>
        <div class="eachbasicblock">
          <div class="infoblock">
            <div class="infotitle">Date:</div>
            <div class="infoinput">{{transdata.transRescuerDate | date}}</div>
          </div>
          <div class="infoblock">
            <div class="infotitle">Time:</div>
            <div class="infoinput">{{transdata.transRescuerDate | date:'shortTime'}}</div>
          </div>
        </div>
        <div class="eachbasicblock">
          <div class="infoblock">
            <div class="infotitle">Length:</div>
            <div class="infoinput">{{transdata.transSnakeLength}}</div>
          </div>
          <div class="infoblock">
            <div class="infotitle">Weight:</div>
            <div class="infoinput">{{transdata.transSnakeWeight}} Kg</div>
          </div>
        </div>
        <div class="eachbasicblock">
          <div class="infoblock">
            <div class="infotitle">Address:</div>
            <div class="infoinput">{{transdata.transRescuerAddress}}</div>
          </div>
        </div>
        <div class="eachbasicblock">
          <ion-slides pager="true">
            <ion-slide>
              <img src="{{transdata.transImage}}">
            </ion-slide>
          </ion-slides>
        </div>
      </div>
    </div>
    <div class="step2" *ngIf="step>=3">
      <div class="reviewInfo">
        <div class="heading">Review</div>
        <div class="eachbasicblock">
          <div class="infoblock">
            <div class="infotitle">Rate:</div>
            <div class="infoinput">{{transdata.transRate}}</div>
          </div>
        </div>
        <div class="eachbasicblock">
          <div class="infoblock">
            <div class="infotitle">Comment:</div>
            <div class="infoinput">{{transdata.transComment}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

