<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="solid" (click)="navigatetohome();">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Wildlife</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullcontent">
    <div class="eachseg" *ngFor="let wildlife of allwildlifedata;let i=index;" (click)="opendetail(wildlife.id);">
      <div class="custinfo">
        <h4>Name: {{wildlife.wildlifeName}}</h4>
        <h4>Phone: {{wildlife.wildlifeContact}}</h4>
      </div>
    </div>
  </div>
</ion-content>




