<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="solid" (click)="navigatetohome();">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >First-Aid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fullcontent">
  <img src="assets/do and don't.jpg" width="90%" height="50%">
  <ul>
    <h3>Dont's</h3>
    <li>Do not attempt to remove snake venom by sucking it or cutting it out.</li>
    <li>Do not apply ice or a cold compress to a snake bite.</li>
    <li>Do not apply a tourniquet</li>
    <li>Do not raise the site of the bite above the person's heart</li>
    <li>Do not drink alcohol as a painkiller</li>
    <li>Do not take pain relievers (such as aspirin, ibuprofen, naproxen)</li>
  </ul>

  <ul>
    <h3>Do's</h3>
    <li>Wash with soap and water</li>
    <li>Get to a hospital</li>
    <li>Hydrate the patient</li>
    <li>Keep a close watch on respiration and bleeding</li>
    <li>Get medical help early</li>
    <li>Have the person lie down with wound below the heart</li>
    <li>Keep the person calm and at rest, remaining as still as possible to keep venom from spreading</li>
  </ul>
</ion-content>