<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Identification</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <div>
      <ion-tab-bar>
        <ion-buttons>
          <input type="file" >
        </ion-buttons>
        <ion-buttons  routerLink="/attributes">
          <ion-icon name="add"></ion-icon>
          <ion-label>Add Attributes</ion-label>
        </ion-buttons>
      </ion-tab-bar>
    </div>
    
    <div class="thumbnail">
      <li>
        <a href="#slide1"><img src="/assets/snake1.jpg"/></a>
      </li>
    </div>
    <div class="thumbnail">
      <li>
        <a href="#slide1"><img src="/assets/snake2.jpg"/></a>
      </li>
    </div>
    <div class="thumbnail">
      <li>
        <a href="#slide1"><img src="/assets/snake3.jpg"/></a>
      </li>
    </div>
    <div class="thumbnail">
      <li>
        <a href="#slide1"><img src="/assets/snake4.jpg"/></a>
      </li>
    </div>
      
  
  </ion-content>
  
  