.container
{
    display: flex;
    justify-content: center;
}

.thumbnail
{
    display: flex;
    flex-direction: column;
    line-height: 0;
    margin: 2%;
}

.thumbnail li
{
    flex: auto;
    list-style: none;
}

.thumbnail li a
{
    display: block;
    margin-bottom: 5px;
}

.thumbnail img
{
    width: 100vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: top;
}

