<html>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>  
      <ion-title>identification</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div>
      <ion-tab-bar>
        <ion-buttons>
          <input type="file" >
        </ion-buttons>
        <ion-buttons  routerLink="/attributes">
          <ion-icon name="add"></ion-icon>
          <ion-label>Add Attributes</ion-label>
        </ion-buttons>
      </ion-tab-bar>
    </div>
    
    <ul class="thumbnail">
      <li>
        <a href="#slide1"><img src="/assets/snake1.jpg"/></a>
      </li>
      <li>
        <a href="#slide2"><img src="/assets/snake2.jpg"/></a>
      </li>
      <li>
        <a href="#slide3"><img src="/assets/snake3.jpg"/></a>
      </li>
      <li>
        <a href="#slide4"><img src="/assets/snake4.jpg"/></a>
      </li>
      <li>
        <a href="#slide5"><img src="/assets/snake5.jpg"/></a>
      </li>
      <li>
        <a href="#slide6"><img src="/assets/snake6.jpg"/></a>
      </li>
      <li>
        <a href="#slide7"><img src="/assets/snake7.jpg"/></a>
      </li>
      <li>
        <a href="#slide8"><img src="/assets/snake8.jpg"/></a>
      </li>
      <li>
        <a href="#slide9"><img src="/assets/snake9.jpg"/></a>
      </li>
      <li>
        <a href="#slide10"><img src="/assets/snake10.jpg"/></a>
      </li>
    </ul>
      
  
  </ion-content>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/rhomepage']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="clock" [routerLink]="['/history']">
      <ion-icon name="time"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="add-circle" [routerLink]="['/post']">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Post</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="person" [routerLink]="['/rprofile']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</html>
