<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon color="success" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="activeLatLong()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/notification']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/achivement']">
        <ion-icon name="trophy-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <div class="thumbnail">
    <li>
      <a href="#slide1"><img src="/assets/snake1.jpg"/></a>
    </li>
  </div>
  <div class="thumbnail">
    <li>
      <a href="#slide1"><img src="/assets/snake2.jpg"/></a>
    </li>
  </div>
  <div class="thumbnail">
    <li>
      <a href="#slide1"><img src="/assets/snake3.jpg"/></a>
    </li>
  </div>
  <div class="thumbnail">
    <li>
      <a href="#slide1"><img src="/assets/snake4.jpg"/></a>
    </li>
  </div>
</ion-content>
