<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon color="success" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="activeLatLong()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button [routerLink]="['/notification']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button> -->
      <ion-button [routerLink]="['/rescusertranlist']">
        <ion-icon name="call-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-card *ngFor="let post of posts;">
    <ion-card-header>
      <img src="{{post.postImage}}"/>
    </ion-card-header>
    <ion-card-content>
      <div class="iconsec">
        <div class="eachsectionicon">0 <ion-icon name="thumbs-up-outline"></ion-icon></div>
        <div class="eachsectionicon">
          <ion-icon name="share-social-outline"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
