.container3
{
    position: relative;
    margin: auto;
    color: red;
    font-size: large;
    font-family: Impact, fantasy;
}    

.eachseg{
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
    box-shadow: 3px 4px 50px #081b18;
    background-color: #00ff68;
}

.eachseg h3{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 4px 0px;
    font-family: monospace;
}

.snakeImage{
    object-fit: cover;
    width: 100%;
    height: 200px;
    text-align: center;
}

.snakeImage img{
    width: 52%;
    height: 100px;
    object-fit: contain;
}
