<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ranking</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="fullcontent">
    <div class="eachseg" (click)="vieworder();">
      <div class="custinfo">
        <h4>Name:shripad</h4>
        <h4 id="a">Points:200pts</h4>
      </div>
    </div>
    <div class="eachseg" (click)="vieworder();">
      <div class="custinfo">
        <h4>Name:khushi</h4>
        <h4 id="a">Points:180pts</h4>
      </div>
    </div>
    <div class="eachseg" (click)="vieworder();">
      <div class="custinfo">
        <h4>Name:Anushree</h4>
        <h4 id="a">Points:100pts</h4>
      </div>
    </div>
  </div>
</ion-content>

