<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="solid" (click)="navigatetohome();">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Ranking</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="fullcontent">
    <div class="eachseg" *ngFor="let rank of alltoprescuers;let i=index;" (click)="opendetail(rank.id);">
      <div class="custinfo">
        <h4>Points: {{rank.rescuerPoints}}</h4>
        <h4>Name: {{rank.rescuerName}}</h4>
      </div>
    </div>
  </div>
</ion-content>

